* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* background-color: #394253; */
  background-color: #3f3f7f;
}
section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #13124e;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 20px;
  border-radius: 6px;
  color: white;
}
textarea {
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
}
textarea:focus {
  outline: 2px solid blue;
  border-radius: 6px;
}
.heading {
  font-size: 24px;
  padding-bottom: 10px;
}
.counter-container {
  display: flex;
  justify-content: space-between;
}
.counter-container p {
  font-size: 18px;
}

#totalch {
  color: yellow;
  font-size: 24px;
}
#remainingch {
  color: red;
  font-size: 24px;
}
