* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#imageResults {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#imageResults img {
  width: 250px;
  height: 250px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
#imageResults img:hover {
  transform: scale(1.1);
}
.logo {
  width: 40px;
}
nav {
  padding: 15px;
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: space-between;
  align-items: center;
  background-color: #e4e9f7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav input {
  width: 500px;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 18px 0 0 18px;
  font-size: 14px;
  padding-left: 20px;
}
nav input:hover {
  background-color: rgba(128, 128, 128, 0.159);
}

#search-btn {
  border: none;
  padding: 10px;
  background-color: rgb(131, 131, 241);
  color: white;
  border: 1px solid rgb(131, 131, 241);
  font-weight: 700;
  border-radius: 0 18px 18px 0;
  cursor: pointer;
  transition: 0.5s;
}
#search-btn:hover {
  background-color: white;
  border: 1px solid rgb(131, 131, 241);
  color: rgb(131, 131, 241);
}
.loadmore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: blue;
  transition: 0.3s;
}
.loadmore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}
.download-container {
  text-align: center;
}
.download-container button {
  padding: 8px;
  border-radius: 18px;
  border: none;
  background-color: rgb(255, 101, 101);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.download-container :hover button {
  background-color: rgb(98, 110, 238);
}
